
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.intro-2 {
    background: url(" ../img/DSC00379.JPG")no-repeat center  ;
   
	 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.intro-1 {
    background: url(" ../img/DSC00379.JPG")no-repeat center  ;
	 height: 50%; 
   
	 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
body { margin: 0 ; padding:  0 ;}
html,
body,
header,
.view {
    height: 100%; ;
}


.heart {
	color:  red ; 
	font-size: 15px ; 
	
}



.footer2:hover {
	color: #FFC222 ; font-size: 15px ; text-decoration: none; font-weight: 500 ;
}
.ptn{
	background-color: transparent ; 
	border: 1px solid   #FFC222; 
	color: white ; 
	padding: 10px ; 
	margin: 10px ; 
	
}
.navbar {
    background-color: transparent;
	
}

.top-nav-collapse {
    background-color: #232D39;   
	
}
.ptn:hover { color: #212121 ; font-weight: bold ; background:  #FFC222;  }

html {
  scroll-behavior: smooth;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 100%;
}


* {font-family: 'Josefin Sans', sans-serif; }